# Data Cleaning with Pandas

In [1]:
import pandas as pd
import numpy as np

### Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [2]:
import pandas as pd

uci = pd.read_csv('data/heart.csv')

In [3]:
def successor(x):
    return x + 1

In [4]:
uci.applymap(successor).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [5]:
uci['age'].map(successor).tail(10)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [6]:
uci['oldpeak'].map(lambda x: round(x))[:4]

0    2
1    4
2    1
3    1
Name: oldpeak, dtype: int64

Exercise: Use an anonymous function to turn the entries in age to strings

In [24]:
# Your code here
uci['age'].map(lambda x: int(x))

0      63
1      37
2      41
3      56
4      57
5      57
6      56
7      44
8      52
9      57
10     54
11     48
12     49
13     64
14     58
15     50
16     58
17     66
18     43
19     69
20     59
21     44
22     42
23     61
24     40
25     71
26     59
27     51
28     65
29     53
       ..
273    58
274    47
275    52
276    58
277    57
278    58
279    61
280    42
281    52
282    59
283    40
284    61
285    46
286    59
287    57
288    57
289    55
290    61
291    58
292    58
293    67
294    44
295    63
296    63
297    59
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [15]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [16]:
uci.groupby('sex').groups

{0: Int64Index([  2,   4,   6,  11,  14,  15,  16,  17,  19,  25,  28,  30,  35,
              36,  38,  39,  40,  43,  48,  49,  50,  53,  54,  59,  60,  65,
              67,  69,  74,  75,  82,  84,  85,  88,  89,  93,  94,  96, 102,
             105, 107, 108, 109, 110, 112, 115, 118, 119, 120, 122, 123, 124,
             125, 127, 128, 129, 130, 131, 134, 135, 136, 140, 142, 143, 144,
             146, 147, 151, 153, 154, 155, 161, 167, 181, 182, 190, 204, 207,
             213, 215, 216, 220, 223, 241, 246, 252, 258, 260, 263, 266, 278,
             289, 292, 296, 298, 302],
            dtype='int64'),
 1: Int64Index([  0,   1,   3,   5,   7,   8,   9,  10,  12,  13,
             ...
             288, 290, 291, 293, 294, 295, 297, 299, 300, 301],
            dtype='int64', length=207)}

In [19]:
uci.groupby('sex').get_group(0)  # .tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
30,41,0,1,105,198,0,1,168,0,0.0,2,1,2,1
35,46,0,2,142,177,0,0,160,1,1.4,0,0,2,1
36,54,0,2,135,304,1,1,170,0,0.0,2,0,2,1
38,65,0,2,155,269,0,1,148,0,0.8,2,0,2,1
39,65,0,2,160,360,0,0,151,0,0.8,2,0,2,1
40,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
43,53,0,0,130,264,0,0,143,0,0.4,1,0,2,1
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0,1
49,53,0,0,138,234,0,0,160,0,0.0,2,0,2,1
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2,1
53,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
54,63,0,2,135,252,0,0,172,0,0.0,2,0,2,1
59,57,0,0,128,303,0,0,159,0,0.0,2,1,2,1
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1
67,45,0,1,130,234,0,0,175,0,0.6,1,0,2,1
69,62,0,0,124,209,0,1,163,0,0.0,2,0,2,1
74,43,0,2,122,213,0,1,165,0,0.2,1,0,2,1
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2,1
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
153,66,0,2,146,278,0,0,152,0,0.0,1,1,2,1
154,39,0,2,138,220,0,1,152,0,0.0,1,0,2,1
155,58,0,0,130,197,0,1,131,0,0.6,1,0,2,1
161,55,0,1,132,342,0,1,166,0,1.2,2,0,2,1
167,62,0,0,140,268,0,0,160,0,3.6,0,2,2,0
181,65,0,0,150,225,0,0,114,0,1.0,1,3,3,0
182,61,0,0,130,330,0,0,169,0,0.0,2,0,2,0
190,51,0,0,130,305,0,1,142,1,1.2,1,0,3,0
204,62,0,0,160,164,0,0,145,0,6.2,0,3,3,0
207,60,0,0,150,258,0,0,157,0,2.6,1,2,3,0
213,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0
215,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0
216,62,0,2,130,263,0,1,97,0,1.2,1,1,3,0
220,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3,0
241,59,0,0,174,249,0,1,143,1,0.0,1,0,2,0
246,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
252,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2,0
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0
263,63,0,0,108,269,0,1,169,1,1.8,1,2,2,0
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2,0
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### Aggregating

In [20]:
uci.groupby('sex').std()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,9.409396,0.972427,19.311119,65.088946,0.332455,0.557150,20.047969,0.422503,1.119844,0.593736,0.881026,0.441290,0.435286
1,8.883803,1.059064,16.658246,42.782392,0.366955,0.510754,24.130882,0.484505,1.174632,0.627378,1.074082,0.659949,0.498626

Exercise: Tell me the average cholesterol level for those with heart disease.

In [22]:
# Your code here!
uci.groupby('target').get_group(1).chol.mean()

242.23030303030302

In [23]:
uci.groupby('target').get_group(1)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
20,59,1,0,135,234,0,1,161,0,0.5,1,0,3,1
21,44,1,2,130,233,0,1,179,1,0.4,2,0,2,1
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2,1
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2,1
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3,1
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
26,59,1,2,150,212,1,1,157,0,1.6,2,0,2,1
27,51,1,2,110,175,0,1,123,0,0.6,2,0,2,1
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
29,53,1,2,130,197,1,0,152,0,1.2,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,49,0,0,130,269,0,1,163,0,0.0,2,0,2,1
136,60,0,2,120,178,1,1,96,0,0.0,2,0,2,1
137,62,1,1,128,208,1,0,140,0,0.0,2,0,2,1
138,57,1,0,110,201,0,1,126,1,1.5,1,0,1,1
139,64,1,0,128,263,0,1,105,1,0.2,1,1,3,1
140,51,0,2,120,295,0,0,157,0,0.6,2,0,2,1
141,43,1,0,115,303,0,1,181,0,1.2,1,0,2,1
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2,1
143,67,0,0,106,223,0,1,142,0,0.3,2,2,2,1
144,76,0,2,140,197,0,2,116,0,1.1,1,0,2,1
145,70,1,1,156,245,0,0,143,0,0.0,2,0,2,1
146,44,0,2,118,242,0,1,149,0,0.3,1,1,2,1
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2,1
148,44,1,2,120,226,0,1,169,0,0.0,2,0,2,1
149,42,1,2,130,180,0,1,150,0,0.0,2,0,2,1
150,66,1,0,160,228,0,0,138,0,2.3,2,0,1,1
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
152,64,1,3,170,227,0,0,155,0,0.6,1,0,3,1
153,66,0,2,146,278,0,0,152,0,0.0,1,1,2,1
154,39,0,2,138,220,0,1,152,0,0.0,1,0,2,1
155,58,0,0,130,197,0,1,131,0,0.6,1,0,2,1
156,47,1,2,130,253,0,1,179,0,0.0,2,0,2,1
157,35,1,1,122,192,0,1,174,0,0.0,2,0,2,1
158,58,1,1,125,220,0,1,144,0,0.4,1,4,3,1
159,56,1,1,130,221,0,0,163,0,0.0,2,0,3,1
160,56,1,1,120,240,0,1,169,0,0.0,0,0,2,1
161,55,0,1,132,342,0,1,166,0,1.2,2,0,2,1
162,41,1,1,120,157,0,1,182,0,0.0,2,0,2,1
163,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values='sex', columns='target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [25]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'HP'])

In [26]:
toy1.join(toy2.set_index('age'),
          on='age',
          lsuffix='_A',
          rsuffix='_B').head()

   age  HP_A  HP_B
0   63   142   100
1   33    47   200

### `.merge()`

In [27]:
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)
ds_chars

     name   HP home_state
0    greg  200         WA
1   miles  200         WA
2    alan  170         TX
3  alison  300         DC
4  rachel  200         TX

In [28]:
states = pd.read_csv('data/states.csv', index_col=0)
states

  state   nickname     capital
0    WA  evergreen     Olympia
1    TX      alamo      Austin
2    DC   district  Washington
3    OH    buckeye    Columbus
4    OR     beaver       Salem

In [29]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='inner')

     name   HP home_state state   nickname     capital
0    greg  200         WA    WA  evergreen     Olympia
1   miles  200         WA    WA  evergreen     Olympia
2    alan  170         TX    TX      alamo      Austin
3  rachel  200         TX    TX      alamo      Austin
4  alison  300         DC    DC   district  Washington

In [30]:
ds_chars.join(states.set_index('state'), on='home_state')

     name   HP home_state   nickname     capital
0    greg  200         WA  evergreen     Olympia
1   miles  200         WA  evergreen     Olympia
2    alan  170         TX      alamo      Austin
3  alison  300         DC   district  Washington
4  rachel  200         TX      alamo      Austin

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [31]:
pd.concat([ds_chars, states], sort=False)

     name     HP home_state state   nickname     capital
0    greg  200.0         WA   NaN        NaN         NaN
1   miles  200.0         WA   NaN        NaN         NaN
2    alan  170.0         TX   NaN        NaN         NaN
3  alison  300.0         DC   NaN        NaN         NaN
4  rachel  200.0         TX   NaN        NaN         NaN
0     NaN    NaN        NaN    WA  evergreen     Olympia
1     NaN    NaN        NaN    TX      alamo      Austin
2     NaN    NaN        NaN    DC   district  Washington
3     NaN    NaN        NaN    OH    buckeye    Columbus
4     NaN    NaN        NaN    OR     beaver       Salem

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [32]:
ds_chars.head()

     name   HP home_state
0    greg  200         WA
1   miles  200         WA
2    alan  170         TX
3  alison  300         DC
4  rachel  200         TX

In [33]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

     name    variable value
0    greg          HP   200
1   miles          HP   200
2    alan          HP   170
3  alison          HP   300
4  rachel          HP   200
5    greg  home_state    WA
6   miles  home_state    WA
7    alan  home_state    TX
8  alison  home_state    DC
9  rachel  home_state    TX

# Data Cleaning
## Scenario

As data scientists, we want to build a model to predict the sale price of a house in Seattle in 2019, based on its square footage. We know that the King County Department of Assessments has comprehensive data available on real property sales in the Seattle area. We need to prepare the data.

### First, get the data!

We'll need to download the two data files that we need. We can do this at the command line:

In [ ]:
!cd data
!curl -O https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip
!curl -O https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip

^C

*Note:* If you do not have the `wget` command yet, you can install it with `brew install wget`, or use `curl <url> -O <filename>`.

Note that `%20` in a URL translates into a space. Even though you should *never put spaces in filenames*, you may need to deal with spaces that _other_ people have used in filenames.

There are two ways to handle the spaces in these filenames when referencing them at the command line.

#### 1. You can _escape_ the spaces by putting a backslash (`\`, remember _backslash is next to backspace_) before each one:

`unzip Real\ Property\ Sales.zip`

This is what happens if you tab-complete the filename in the terminal. Tab completion is your friend!

#### 2. You can put the entire filename in quotes:

`unzip "Real Property Sales.zip"`

Try unzipping these files with the `unzip` command. The `unzip` command takes one argument, the name of the file that you want to unzip.

In [7]:
!unzip Real\ Property\ Sales.zip
!cd ..

unzip:  cannot find or open Real Property Sales.zip, Real Property Sales.zip.zip or Real Property Sales.zip.ZIP.

In [6]:
sales_df = pd.read_csv('data/Real%20Property%20Sales.zip')

BadZipFile: File is not a zip file

In [ ]:
sales_df.head()

In [ ]:
sales_df.describe()

### Seeing pink? Warnings are useful!

Note the warning above: `DtypeWarning: Columns (1, 2) have mixed types.` Because we start with an index of zero, the columns that we're being warned about are actually the _second_ and _third_ columns, `sales_df['Major']` and `sales_df['Minor']`.

In [ ]:
sales_df.head().T

### Data overload?

That's a lot of columns. We're only interested in identifying the date, sale price, and square footage of each specific property. What can we do?

In [ ]:
small_sales_df = sales_df[['Major', 'Minor', 'DocumentDate', 'SalePrice']].copy()

In [ ]:
small_sales_df.info()

In [ ]:
bldg_df = pd.read_csv('data/Residential Building.zip')

### Another warning! Which column has index 11?

In [ ]:
bldg_df.columns[11]

`ZipCode` seems like a potentially useful column. We'll need it to determine which house sales took place in Seattle.

In [ ]:
bldg_df.head().T

### So many features!

As data scientists, we should be _very_ cautious about discarding potentially useful data. But, today, we're interested in _only_ the total square footage of each property. What can we do?

In [ ]:
small_bldg_df = bldg_df[['Major', 'Minor', 'SqFtTotLiving', 'ZipCode']].copy()

In [ ]:
small_bldg_df.info()

In [ ]:
sales_data = pd.merge(small_sales_df, small_bldg_df, on=['Major', 'Minor'])

In [ ]:
pd.merge?

In [ ]:
sales_data.head()

### Error!

Why are we seeing an error when we try to join the dataframes?

<table>
    <tr>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013160 entries, 0 to 2013159
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 61.4+ MB</pre></td>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511359 entries, 0 to 511358
Data columns (total 4 columns):
Major            511359 non-null int64
Minor            511359 non-null int64
SqFtTotLiving    511359 non-null int64
ZipCode          468345 non-null object
dtypes: int64(3), object(1)
memory usage: 15.6+ MB
</pre></td>
    </tr>
</table>

Review the error message in light of the above:

* `ValueError: You are trying to merge on object and int64 columns.`

In [ ]:
pd.to_numeric(sales_df['Major'])

### Error!

Note the useful error message above:

`ValueError: Unable to parse string "      " at position 936643`

In this case, we want to treat non-numeric values as missing values. Let's see if there's a way to change how the `pd.to_numeric` function handles errors.

In [ ]:
# The single question mark means "show me the docstring"
pd.to_numeric?

Here's the part that we're looking for:
```
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception
    - If 'coerce', then invalid parsing will be set as NaN
    - If 'ignore', then invalid parsing will return the input
```

Let's try setting the `errors` parameter to `'coerce'`.

In [ ]:
small_sales_df.loc[:,'Major'] = pd.to_numeric(sales_df['Major'], errors='coerce')

Did it work?

In [ ]:
small_sales_df.info()

It worked! Let's do the same thing with the `Minor` parcel number.

In [ ]:
small_sales_df['Minor'] = pd.to_numeric(sales_df['Minor'], errors='coerce')

In [ ]:
small_sales_df.info()

Now, let's try our join again.

In [ ]:
sales_data = pd.merge(small_sales_df, small_bldg_df, on=['Major', 'Minor'])

In [ ]:
sales_data.head()

In [ ]:
sales_data.info()

We can see right away that we're missing zip codes for many of the sales transactions. (1321536 non-null entries for ZipCode is fewer than the 1436772 entries in the dataframe.)

In [ ]:
sales_data.loc[sales_data['ZipCode'].isna()].head(20)

Because we are interested in finding houses in Seattle zip codes, we will need to drop the rows with missing zip codes.

In [ ]:
sales_data = sales_data.loc[~sales_data['ZipCode'].isna(), :]

In [ ]:
sales_data.info()

# Your turn: Data Cleaning with Pandas

### 1. Investigate and drop rows with invalid values in the SalePrice and SqFtTotLiving columns.

Use multiple notebook cells to accomplish this! Press `[esc]` then `B` to create a new cell below the current cell. Press `[return]` to start typing in the new cell.

In [ ]:
sales_data = sales_data.loc[(sales_data['SalePrice'] > 0) & sales_data['SqFtTotLiving'] > 0]
sales_data.head()

### 2. Investigate and handle non-numeric ZipCode values

Can you find a way to shorten ZIP+4 codes to the first five digits?

What's the right thing to do with missing values?

In [ ]:
# Read the error message and decide how to fix it.
# Note: using errors='coerce' is the *wrong* choice in this case.
def is_integer(x):
    try:
        _ = int(x)
    except ValueError:
        return False
    return True

pd.to_numeric(sales_data['ZipCode'])
# sales_data.ZipCode.value_counts()

### 3. Add a column for PricePerSqFt

### 4. Subset the data to 2019 sales only.

We can assume that the DocumentDate is approximately the sale date.

### 5. Subset the data to zip codes within the City of Seattle.

You'll need to find a list of Seattle zip codes!

### 6. What is the mean price per square foot for a house sold in Seattle in 2019?

Don't just type the answer. Type code that generates the answer as output!